
.carousel .control-dots .dot {
    width: 12px; /* Adjust the width of the indicators */
    height: 12px; /* Adjust the height of the indicators */
    position: relative;
    bottom: 350px;
  } 
.banner{
    width:100%;
    height:100vh;
    padding-top: 80px;
}
.carousel .control-dots .dot.selected {
    background: black;
  }
.carousel .control-dots .dot:hover{
    background-color: black;
}  

.joinImage{
    animation: imgUp 0.7s linear infinite alternate;
    mix-blend-mode:darken
}
@keyframes imgUp {
    to {
      transform: translateY(-10px);
    }
  }
  .animated-div {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden; /* Ensures the paragraph is hidden initially */
    cursor: pointer;
  }
  .cards:hover{
    background-color: rgba(189, 232, 255, 0.725);
    transition: all ease 0.5s;
    transform: translate3d(30px, 5%, 2em);
    font: bolder;
    border-radius: 1rem;
    text-shadow: 1px 10px 10px  rgba(231, 231, 231, 0.408);
  }
  